<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="grid-container">
        <div class="item1">
            <h4>JARVIS TEC</h4>
            <h1>Hello {{name}}</h1>
        </div>

        <div class="item2">
            <h3>
                You
            </h3>

            <section class="section">
                <div class="columns">
                    <div class="column has-text-centered">
                        <figure class="image has-text-centered">
                            <img class="is-inline-block" src="./streaming_camara" style="width: auto">
                        </figure>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <button id="btnTomarFotoServidor" class="button is-info mb-2">Take and save picture</button>
                        <div class="notification is-primary mt-2" id="estado">Information</div>
                        <br>
                    </div>
                </div>
                <form method="post" action="/foto">
                    <button class="button" type="submit" name="Voz">Picture</button>
                </form>
                <div>
                    <img src="{{ user_image }}" alt="Imagen de prueba">
                </div>
                <script type="text/javascript">
                    /*
                        En el clic del botón hacemos una petición a ./tomar_foto_guardar 
                    */
                    const $btnTomarFotoServidor = document.querySelector("#btnTomarFotoServidor"),
                        $estado = document.querySelector("#estado");
                    $btnTomarFotoServidor.onclick = async () => {
                        $estado.textContent = "Tomando foto...";
                        const respuestaRaw = await fetch("./tomar_foto_guardar");
                        const respuesta = await respuestaRaw.json();
                        let mensaje = "";
                        if (respuesta.ok) {
                            mensaje = `Foto guardada`;
                        } else {
                            mensaje = `Error tomando foto`;
                        }
                        $estado.textContent = mensaje;
                    };
                </script>
            </section>


        </div>

        

        <div class="item3">
            <!-- 
        <img src = "{{ user_image }}" alt = "Imagen de prueba"> -->

            <p style="padding: 10px; border: 2px solid rgb(221, 112, 40);">{{caja_pregunta}}</p>

            <form method="post" action="/">
                <input name="u">
                <button class="button" type="submit" name="Voz">Set</button>
            </form>

            <textarea rows="15" cols="100d" style="padding: 10px; border: 2px solid red;">{{caja_respuesta}}</textarea>

            <h2>You said -> {{forward_message}}</h2>

            <!-- <form method="post" action="/">
                <button class="button" type="submit" name="Voz">Next ask</button>
            </form> -->

            <form method="post" action="/predicciones">
                <button class="button" type="submit" name="Voz">Change prediction</button>
            </form>

            <form method="post" action="/record">
                <button class="button" type="submit" name="Voz">Record audio</button>
            </form>

        </div>

        <div class="item4">
            <h3>
                Food
            </h3>

        
            <form method="post" action="/fragmentacion">
                           
                <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)"
                        style="display: none;"></p>
                <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                <p><img id="output" width="200" /></p>

                <button class="button" type="submit" name="Voz">Fragmentation</button>

            </form>
            
            <script>
                var loadFile = function (event) {
                    var image = document.getElementById('output');
                    console.log(event.target.files[0]);
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
            
            </script>
            

    
        </div>


        
    </div>

</body>

</html>